/* STATIC STYLES: */
/* SE DYNAMIC STYLES FRA LINJE 957 */

@charset "UTF-8";
section {
  background-color: #ffffff;
}

body {
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  position: relative;
}

button {
  background-color: transparent;
  border-color: transparent;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a.mbr-iconfont:hover {
  text-decoration: none;
}

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

b,
strong {
  font-weight: bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 9999s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

textarea[type="hidden"] {
  display: none;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hidden {
  visibility: hidden;
}

.mbr-z-index20 {
  z-index: 20;
}

/*! Base colors */
.mbr-white {
  color: #ffffff;
}

.mbr-black {
  color: #111111;
}

.mbr-bg-white {
  background-color: #ffffff;
}

.mbr-bg-black {
  background-color: #000000;
}

/*! Text-aligns */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*! Font-weight  */
.mbr-light {
  font-weight: 300;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

/*! Media  */
.media-content {
  flex-basis: 100%;
}

.media-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: start;
}
.media-container-row .media-size-item {
  width: 400px;
}

.media-container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
.media-container-column > * {
  width: 100%;
}

@media (min-width: 992px) {
  .media-container-row {
    flex-wrap: nowrap;
  }
}
figure {
  margin-bottom: 0;
  overflow: hidden;
}

figure[mbr-media-size] {
  transition: width 0.1s;
}

img,
iframe {
  display: block;
  width: 100%;
}

.card {
  background-color: transparent;
  border: none;
}

.card-box {
  width: 100%;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.media {
  max-width: 100%;
  margin: 0 auto;
}

.mbr-figure {
  align-self: center;
}

.media-container > div {
  max-width: 100%;
}

.mbr-figure img,
.card-img img {
  width: 100%;
}

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important;
  }

  .media {
    width: auto;
  }

  .mbr-figure {
    width: 100% !important;
  }
}
/*! Buttons */
.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}

.btn {
  font-weight: 600;
  border-width: 1px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.btn-sm {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-md {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-lg {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-form {
  margin: 0;
}
.btn-form:hover {
  cursor: pointer;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

/*! Btn icon margin */
.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
  order: 1;
  cursor: pointer;
  margin-left: 0.5rem;
  vertical-align: sub;
}

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
  margin-left: 0.8rem;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

[type="submit"] {
  -webkit-appearance: none;
}

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}

.mbr-fullscreen {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*! Map */
.map {
  height: 25rem;
  position: relative;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/*! Scroll to top arrow */
.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 22px;
}

.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.mbr-arrow-up a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.mbr-arrow-up a i {
  line-height: 60px;
}

.mbr-arrow-up-icon {
  display: block;
  color: #fff;
}

.mbr-arrow-up-icon::before {
  content: "›";
  display: inline-block;
  font-family: serif;
  font-size: 22px;
  line-height: 1;
  font-style: normal;
  position: relative;
  top: 6px;
  left: -4px;
  transform: rotate(-90deg);
}

/*! Arrow Down */
.mbr-arrow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.mbr-arrow > a {
  display: inline-block;
  text-decoration: none;
  outline-style: none;
  -webkit-animation: arrowdown 1.7s ease-in-out infinite;
  animation: arrowdown 1.7s ease-in-out infinite;
  color: #ffffff;
}
.mbr-arrow > a > i {
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 2rem;
}

#scrollToTop a i::before {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
  width: 27.8%;
  height: 27.8%;
  left: 50%;
  top: 51%;
  transform: translateY(-30%) translateX(-50%) rotate(135deg);
}

@keyframes arrowdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes arrowdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 0;
    right: 0;
    text-align: center;
  }
}
/*Gradients animation*/
@keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}
@-webkit-keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}
.bg-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 5s infinite alternate;
  -webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
  display: -webkit-flex;
}
.menu .navbar-brand span {
  display: flex;
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
  width: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-toggleable-sm .navbar-nav {
    display: -ms-flexbox;
  }
}
@media (max-width: 991px) {
  .menu .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .navbar-collapse.show {
    overflow: auto;
  }
}
@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
  }
  .menu .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-flex !important;
  }
  .menu .collapsed .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .collapsed .navbar-collapse.show {
    overflow: auto;
  }
}
@media (max-width: 767px) {
  .menu .navbar-collapse {
    max-height: 80vh;
  }
}

.nav-link .mbr-iconfont {
  margin-right: 0.5rem;
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

.nav-dropdown .link {
  padding: 0.667em 1.667em !important;
  margin: 0 !important;
}

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.justify-content-center {
  -webkit-justify-content: center;
}

.form-inline {
  display: -webkit-flex;
}

.card-wrapper {
  -webkit-flex: 1;
}

.carousel-control {
  z-index: 10;
  display: -webkit-flex;
}

.carousel-controls {
  display: -webkit-flex;
}

.media {
  display: -webkit-flex;
}

.form-group:focus {
  outline: none;
}

.jq-selectbox__select {
  padding: 7px 0;
  position: relative;
}

.jq-selectbox__dropdown {
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0 !important;
  width: 100% !important;
}

.jq-selectbox__trigger-arrow {
  right: 0;
  transform: translateY(-50%);
}

.jq-selectbox li {
  padding: 1.07em 0.5em;
}

input[type="range"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.modal-dialog,
.modal-content {
  height: 100%;
}

.modal-dialog .carousel-inner {
  height: calc(100vh - 1.75rem);
}
@media (max-width: 575px) {
  .modal-dialog .carousel-inner {
    height: calc(100vh - 1rem);
  }
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: auto;
}

.navbar-toggler {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

.card-img {
  width: auto;
}

.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

.dropup .dropdown-toggle::after {
  display: none;
}

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal;
}

.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0.357em;
  padding: 0;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
  text-align: center;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}

.form-control {
  background-color: #ffffff;
  background-clip: border-box;
  color: #232323;
  line-height: 1rem !important;
  height: auto;
  padding: 0.6rem 1.2rem;
  transition: border-color 0.25s ease 0s;
  border: 1px solid transparent !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}
.form-active .form-control:invalid {
  border-color: red;
}

form .row {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}
form .row [class*="col"] {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

form .mbr-section-btn {
  margin: 0;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

form .btn {
  display: flex;
  padding: 0.6rem 1.2rem;
  margin: 0;
}

form .form-check-input {
  margin-top: 0.5;
}

textarea.form-control {
  line-height: 1.5rem !important;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-control,
form .btn {
  min-height: 48px;
}

.gdpr-block label span.textGDPR input[name="gdpr"] {
  top: 7px;
}

.form-control:focus {
  box-shadow: none;
}

:focus {
  outline: none;
}

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

blockquote {
  font-style: italic;
  padding: 3rem;
  font-size: 1.09rem;
  position: relative;
  border-left: 3px solid;
}

ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mbr-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .mbr-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.card-wrapper,
.item-wrapper {
  overflow: hidden;
}

.app-video-wrapper > img {
  opacity: 1;
}

.item {
  position: relative;
}

.dropdown-menu .dropdown-menu {
  left: 100%;
}

.dropdown-item + .dropdown-menu {
  display: none;
}

.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

@media (min-aspect-ratio: 16/9) {
  .mbr-video-foreground {
    height: 300% !important;
    top: -100% !important;
  }
}
@media (max-aspect-ratio: 16/9) {
  .mbr-video-foreground {
    width: 300% !important;
    left: -100% !important;
  }
}

/* DYNAMIC STYLES: */

@btn-font-size: 0.8rem;
@btn-border-radius: 4px;
@btn-padding-y: 0.6rem;
@btn-padding-x: 1.2rem;

@btn-font-size-sm: 0.8rem;
@btn-border-radius-sm: 4px;
@btn-padding-y-sm: 0.6rem;
@btn-padding-x-sm: 1.2rem;

@btn-font-size-md: 0.8rem;
@btn-border-radius-md: 4px;
@btn-padding-y-md: 0.6rem;
@btn-padding-x-md: 1.2rem;

@btn-font-size-lg: 1rem;
@btn-border-radius-lg: 4px;
@btn-padding-y-lg: 1rem;
@btn-padding-x-lg: 2.6rem;

.btn when (@isGhostButtonBorder) {
  border-width: 2px;
}

// FONTS

body {
  font-family: @mainFont;
}

.display-1 {
  font-family: @display1Font;
  font-size: @display1Size * 1rem;
  line-height: 1.2;

  > .mbr-iconfont {
    font-size: @display1Size * 1.25rem;
  }
}

.display-2 {
  font-family: @display2Font;
  font-size: @display2Size * 1rem;
  line-height: 1.3;

  > .mbr-iconfont {
    font-size: @display2Size * 1.25rem;
  }
}

.display-4 {
  font-family: @display4Font;
  font-size: @display4Size * 1rem;
  line-height: 1.6;

  > .mbr-iconfont {
    font-size: @display4Size * 1.25rem;
  }
}

.display-5 {
  font-family: @display5Font;
  font-size: @display5Size * 1rem;
  line-height: 1.3;
  /* CHANGED LINE HEIGHT FROM 1.5 TO 1.3 */

  > .mbr-iconfont {
    font-size: @display5Size * 1.25rem;
  }
}

.display-7 {
  font-family: @display7Font;
  font-size: @display7Size * 1rem;
  line-height: 1.4;

  > .mbr-iconfont {
    font-size: @display7Size * 1.25rem;
  }
}
a,
p {
  line-height: 1;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */

@media (max-width: 992px) {
  .display-1 {
    font-size: @display1Size * 0.8rem;
  }
}

@media (max-width: 768px) {
  .display-1 {
    @display1Size-min: @display1Size - (@display1Size - 1) * 0.65;
    font-size: @display1Size * 0.7rem;
    font-size: ~"calc( @{display1Size-min}rem + (@{display1Size} - @{display1Size-min}) * ((100vw - 20rem) / (48 - 20)))";
    line-height: ~"calc( 1.1 * (@{display1Size-min}rem + (@{display1Size} - @{display1Size-min}) * ((100vw - 20rem) / (48 - 20))))";
  }

  .display-2 {
    @display2Size-min: @display2Size - (@display2Size - 1) * 0.65;
    font-size: @display2Size * 0.8rem;
    font-size: ~"calc( @{display2Size-min}rem + (@{display2Size} - @{display2Size-min}) * ((100vw - 20rem) / (48 - 20)))";
    line-height: ~"calc( 1.3 * (@{display2Size-min}rem + (@{display2Size} - @{display2Size-min}) * ((100vw - 20rem) / (48 - 20))))";
  }

  .display-4 {
    @display4Size-min: @display4Size - (@display4Size - 1) * 0.65;
    font-size: @display4Size * 0.8rem;
    font-size: ~"calc( @{display4Size-min}rem + (@{display4Size} - @{display4Size-min}) * ((100vw - 20rem) / (48 - 20)))";
    line-height: ~"calc( 1.4 * (@{display4Size-min}rem + (@{display4Size} - @{display4Size-min}) * ((100vw - 20rem) / (48 - 20))))";
  }

  .display-5 {
    @display5Size-min: @display5Size - (@display5Size - 1) * 0.65;
    font-size: @display5Size * 0.8rem;
    font-size: ~"calc( @{display5Size-min}rem + (@{display5Size} - @{display5Size-min}) * ((100vw - 20rem) / (48 - 20)))";
    line-height: ~"calc( 1.4 * (@{display5Size-min}rem + (@{display5Size} - @{display5Size-min}) * ((100vw - 20rem) / (48 - 20))))";
  }

  .display-7 {
    @display7Size-min: @display7Size - (@display7Size - 1) * 0.65;
    font-size: @display7Size * 0.8rem;
    font-size: ~"calc( @{display7Size-min}rem + (@{display7Size} - @{display7Size-min}) * ((100vw - 20rem) / (48 - 20)))";
    line-height: ~"calc( 1.4 * (@{display7Size-min}rem + (@{display7Size} - @{display7Size-min}) * ((100vw - 20rem) / (48 - 20))))";
  }
}

/* Buttons */
/* HAR ÆNDRET PÅ HOVER HER */
.button-variant(@background) {
  @color: contrast(@background, darken(@background, 50%), #ffffff, 60%);
  @border: @background;
  @active-color: @color;
  @active-border: @active-background;

  @active-background: if(eq(@background, @color), #fafafa, darken(@background, 5%)); /* HAR ÆNDRET HER, FØR 17% */

  &,
  &:active {
    background-color: @background !important;
    border-color: @border !important;
    color: @color !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  /* HAR ÆNDRET I DARKEN HERUNDER: */
  &:hover,
  &:focus,
  &.focus,
  &.active {
    color: contrast(@active-background, darken(@active-background, 2%), #ffffff, 10%) !important;
    background-color: @active-background !important;
    border-color: @active-border !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }

  &.disabled,
  &:disabled {
    color: @active-color !important;
    background-color: @active-background !important;
    border-color: @active-border !important;
  }
}

.button-outline-variant(@color) {
  @active-color: contrast(@color, darken(@color, 50%), #ffffff, 60%);
  @active-background: @color;
  @new-color: if(eq(@color, @active-color), #fafafa, darken(@color, 5%)); /* HAR ÆNDRET HER, FØR 17% */

  &,
  &:active {
    background-color: transparent !important;
    & when (@isGhostButtonBorder) {
      border-color: @color;
    }
    & when not (@isGhostButtonBorder) {
      border-color: transparent;
    }
    color: @color;
  }

  &:hover,
  &:focus,
  &.focus,
  &.active {
    color: @new-color!important;
    background-color: transparent !important;
    & when (@isGhostButtonBorder) {
      border-color: @new-color!important;
    }
    & when not (@isGhostButtonBorder) {
      border-color: transparent !important;
    }
    box-shadow: none !important;
  }

  &.disabled,
  &:disabled {
    color: @active-color !important;
    background-color: @active-background !important;
    border-color: @active-background !important;
  }
}

.plan-variant(@className, @color) {
  &@{className} {
    .mbr-plan-subtitle,
    .mbr-plan-price-desc {
      @max: max(red(@color), green(@color), blue(@color));

      & when (@max > 200) {
        color: lighten(@color, 40%);
      }

      & when (@max > 85) and (@max <=200) {
        color: lighten(@color, 25%);
      }

      & when (@max > 50) and (@max <=85) {
        color: lighten(@color, 45%);
      }

      & when (@max <=50) {
        color: lighten(@color, 70%);
      }
    }
  }
}

.button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-border-radius) {
  padding: @btn-padding-y @btn-padding-x;
  border-radius: @btn-border-radius;
}

.btn {
  .button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-border-radius);
}

.btn-sm {
  .button-size(@btn-padding-y-sm, @btn-padding-x-sm, @btn-font-size-sm, @btn-border-radius-sm);
}

.btn-md {
  .button-size(@btn-padding-y-md, @btn-padding-x-md, @btn-font-size-md, @btn-border-radius-md);
}

.btn-lg {
  .button-size(@btn-padding-y-lg, @btn-padding-x-lg, @btn-font-size-lg, @btn-border-radius-lg);
}

.bg-primary {
  background-color: @primaryColor !important;
}

.bg-success {
  background-color: @successColor !important;
}

.bg-info {
  background-color: @infoColor !important;
}

.bg-warning {
  background-color: @warningColor !important;
}

.bg-danger {
  background-color: @dangerColor !important;
}

.btn-primary {
  .button-variant(@primaryColor);
}

.btn-secondary {
  .button-variant(@secondaryColor);
}

.btn-info {
  .button-variant(@infoColor);
}

.btn-success {
  .button-variant(@successColor);
}

.btn-warning {
  .button-variant(@warningColor);
}

.btn-danger {
  .button-variant(@dangerColor);
}

.btn-white {
  .button-variant(#fafafa);
}

.btn-black {
  .button-variant(#232323);
}

.btn-primary-outline {
  .button-outline-variant(@primaryColor);
}

.btn-secondary-outline {
  .button-outline-variant(@secondaryColor);
}

.btn-info-outline {
  .button-outline-variant(@infoColor);
}

.btn-success-outline {
  .button-outline-variant(@successColor);
}

.btn-warning-outline {
  .button-outline-variant(@warningColor);
}

.btn-danger-outline {
  .button-outline-variant(@dangerColor);
}

.btn-black-outline {
  .button-outline-variant(#232323);
}

.btn-white-outline {
  .button-outline-variant(#fafafa);
}

.text-primary {
  color: @primaryColor !important;
}

.text-secondary {
  color: @secondaryColor !important;
}

.text-success {
  color: @successColor !important;
}

.text-info {
  color: @infoColor !important;
}

.text-warning {
  color: @warningColor !important;
}

.text-danger {
  color: @dangerColor !important;
}

.text-white {
  color: #fafafa !important;
}

.text-black {
  color: #232323 !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: darken(@primaryColor, 20%) !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: darken(@secondaryColor, 20%) !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: darken(@successColor, 20%) !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: darken(@infoColor, 20%) !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: darken(@warningColor, 20%) !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: darken(@dangerColor, 20%) !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: darken(#fafafa, 20%) !important;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: darken(#232323, 20%) !important;
}

& when (@underlinedLinks) {
  a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    transition: 0.2s;
    position: relative;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0 1.2em;
  }
}

& when not (@underlinedLinks) {
  a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
    &:hover {
      transition: background-position 2s ease-in-out;
      background-image: linear-gradient(currentColor 50%, currentColor 50%);
      background-position: 0px 1.2em;
    }
  }
}

.nav-tabs .nav-link {
  &.active {
    color: @primaryColor;
  }
  &:not(.active) {
    color: #232323;
  }
}

.alert-success {
  background-color: #e6ddc3;
  color: #232323;
}

.alert-info {
  background-color: @infoColor;
  color: #232323;
}

.alert-warning {
  background-color: @warningColor;
  color: #e6ddc3;
}

.alert-danger {
  background-color: @dangerColor;
  color: #e6ddc3;
}

.mbr-section-btn a.btn:not(.btn-form) {
  & when (@isRoundedButtons) {
    border-radius: 100px;
  }
}

.mbr-gallery-filter li a when(@isRoundedButtons) {
  border-radius: 100px !important;
}

.mbr-gallery-filter {
  li.active .btn {
    background-color: @primaryColor;
    border-color: @primaryColor;
    color: contrast(@primaryColor, darken(@primaryColor, 45%), #ffffff, 60%);

    &:focus {
      box-shadow: none;
    }
  }
}

.nav-tabs .nav-link when(@isRoundedButtons) {
  border-radius: 100px !important;
}

a,
a:hover {
  color: @primaryColor;
}

.mbr-plan-header {
  .plan-variant(~".bg-primary", @primaryColor);
  .plan-variant(~".bg-success", @successColor);
  .plan-variant(~".bg-info", @infoColor);
  .plan-variant(~".bg-warning", @warningColor);
  .plan-variant(~".bg-danger", @dangerColor);
}

/* Scroll to top button*/
.scrollToTop_wraper when not(@isScrollToTopButton) {
  display: none;
}

#scrollToTop a when (@isScrollToTopButton) and (@isRoundedButtons) {
  border-radius: 100px;
}

.form-control {
  .display-4;
  font-weight: 400;
  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: @primaryColor!important;
  }
}
.form-control:-webkit-input-placeholder {
  .display-4;
  font-weight: 400;
}

blockquote {
  border-color: @primaryColor;
}

/* Forms */
.mbr-form {
  .input-group-btn a.btn when(@isRoundedButtons) {
    border-radius: 100px !important;

    &:hover {
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .input-group-btn button[type="submit"] when (@isRoundedButtons) {
    border-radius: 100px !important;
    padding: 1rem 3rem;

    &:hover {
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

//formstyler
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: @primaryColor;
  color: contrast(@primaryColor, #000000, #ffffff, 60%);
}

.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: @primaryColor;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: @primaryColor;
  border-bottom-color: @primaryColor;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: contrast(@primaryColor, #000, #fff, 30%) !important;
  background-color: @primaryColor !important;
  box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: contrast(@secondaryColor, #000, #fff, 30%) !important;
  background: @secondaryColor !important;
  box-shadow: none !important;
}

//lazyload
.lazy-bg {
  background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  @fillSVG: replace("@{primaryColor}", "#", "%23");
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='@{fillSVG}' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
  opacity: 0.5;
}

body {
  overflow-x: hidden;
}

a {
  transition: color 0.6s;
}
