/* ABOUT US HERO */
& when not (@fullScreen) {
  padding-top: (@paddingTop * 1rem);
  padding-bottom: (@paddingBottom * 1rem);
}
& when (@bg-type = "color") {
  background-color: @bg-value;
}
& when (@bg-type = "image") {
  background-image: url(@bg-value);
}
& when (@reverseContent) {
  .row {
    flex-direction: row-reverse;
  }
}
.text-wrapper {
  @media (max-width: 687px) {
    margin-top: 0;
  }
}
.mbr-section-title {
  color: #ecddc3;
}
.mbr-text {
  color: #ecddc3;
}
.mbr-section-btn {
  .btn {
    color: #232323 !important;
    text-decoration: none;
  }
}
img {
  border-radius: 4px;
  margin-top: 80px;
  @media (max-width: 900px) {
    margin-top: 20px;
  }
}

/* ABOUT US GRID SECTION */
padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
& when (@bg-type = "color") {
  background-color: @bg-value;
}
& when (@bg-type = "image") {
  background-image: url(@bg-value);
}
.card-text,
.mbr-section-subtitle {
  color: #8d97ad;
}
.main,
.main-reverse {
  border: 1px solid rgba(120, 130, 140, 0.13);
  margin: 0;
  background: @cardColor;
}
.img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.main-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.image-element {
  padding: 0;
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.text-element {
  padding: 3rem 2rem;
}
.main:first-child {
  padding-top: 0;
}
.mbr-iconfont {
  font-size: 1rem;
  color: #188ef4;
}
.bottom-radius {
  overflow: hidden;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.top-radius {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
}
.card-text,
.mbr-section-btn {
  color: #ecddc3;
}
.mbr-title,
.card-img {
  color: #ecddc3;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .text-element {
    padding: 1rem;
  }
  .main:first-child {
    padding-top: 0;
  }
  .img-wrap {
    width: 60% !important;
    height: 60% !important;
  }
  img {
    width: 60%;
    height: 60%;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .image-element,
  .text-element {
    margin-bottom: 0;
  }
}

/* OUR OIL IS FROM SIENA SECTION */
.image-wrapper {
  height: 90%;
  margin-top: 80px;
  @media (max-width: 991px) {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 4px;
  }
}
figcaption {
  color: #ecddc3;
  text-align: right;
  font-style: italic;
  margin-top: 4px;
  margin-bottom: 3rem;
}
.mbr-section-title {
  color: #ecddc3;
  margin-top: 70px;
}
.mbr-text {
  color: #ecddc3;
}
.mbr-section-btn {
  .btn {
    color: #232323 !important;
  }
}
& when not (@fullScreen) {
  padding-top: (@paddingTop * 1rem);
  padding-bottom: (@paddingBottom * 1rem);
  @media (min-width: 992px) {
    .text-wrapper {
      padding: 5rem 5rem 0 0rem;
      & when (@fullWidth) {
        padding: 5rem 5rem 0 0rem;
      }
    }
    .mbr-section-title {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .text-wrapper {
      padding: 0;
    }
    .image-wrapper {
      margin-top: 20px;
    }
    .mbr-section-title {
      margin-top: 0;
    }
    figcaption {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    .text-wrapper {
      padding: 0 2rem;
      margin-top: 0;
    }
    .image-wrapper {
      height: 80%;
      margin-top: 0;
    }
    img {
      margin: 0;
    }
    .mt-5 {
      margin-top: 0 !important;
    }
  }
}
& when (@bg-type = "image") {
  background-image: url(@bg-value);
}
& when (@bg-type = "color") {
  background-color: @bg-value;
}
& when (@fullWidth) {
  & when (@imageFullWidth) {
    .container-fluid {
      padding: 0;
    }
    .text-wrapper {
      padding: 0 4rem;
      @media (max-width: 768px) {
        padding: 0 2rem;
      }
    }
  }
}

/* PHOTOS FROM TOSCANA SECTION */
padding-top: (@paddingTop * 1rem);
padding-bottom: (@paddingBottom * 1rem);
& when (@bg-type = "color") {
  background-color: @bg-value;
}
& when (@bg-type = "image") {
  background-image: url(@bg-value);
}
img {
  border-radius: 4px;
}
.mbr-fallback-image.disabled {
  display: none;
}
.mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  & when (@bg-type = "video") {
    background-image: url(@fallBackImage);
  }
}
& when not (@spacing) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .item {
    padding-left: 0;
    padding-right: 0;
  }
}
& when (@spacing) {
  .item {
    padding-bottom: 2rem;
  }
}
.item-wrapper {
  & when (@autoSize) {
    & when not (@showItemSubtitle) {
      height: 100%;
    }
    & when (@showItemSubtitle) {
      height: (@imageHeight * 100px);
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  position: relative;
  .icon-wrapper {
    pointer-events: none;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 22px;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
    opacity: 0;
    color: #ffffff;
    transform: translateX(-50%) translateY(-50%);
    background-color: #1b1b1b;
    transition: 0.2s;
  }
  &:hover {
    .icon-wrapper {
      opacity: 0.7;
    }
  }
}
.carousel-control,
.close {
  background: #1b1b1b;
}
.carousel-control-prev {
  margin-left: 2.5rem;
  span {
    margin-right: 5px;
  }
}
.carousel-control-next {
  margin-right: 2.5rem;
  span {
    margin-left: 5px;
  }
}
.close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: "Moririse2";
  align-items: center;
  justify-content: center;
  display: flex;
  &::before {
    content: "\e91a";
  }
  &:hover {
    opacity: 1;
    background: #000;
    color: #fff;
  }
}
.carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  &.carousel-control-prev {
    left: 0;
    margin-left: 2.5rem;
  }
  &.carousel-control-next {
    right: 0;
    margin-right: 2.5rem;
  }
  @media (max-width: 767px) {
    top: auto;
    bottom: 1rem;
  }
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  li {
    max-width: 15px;
    height: 15px;
    width: 15px;
    max-height: 15px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s;
    &.active,
    &:hover {
      opacity: 0.9;
    }
    &::after,
    &::before {
      content: none;
    }
  }
  &.ie-fix {
    left: 50%;
    display: block;
    width: 60%;
    margin-left: -30%;
    text-align: center;
  }
  @media (max-width: 768px) {
    display: none !important;
  }
  @media (max-width: 991px) {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.carousel-inner {
  display: flex;
  align-items: center;
}
.carousel-inner > .active {
  display: block;
}
.carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .carousel-control,
  .carousel-indicators,
  .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.carousel-indicators .active,
.carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.carousel-indicators .active {
  background: #fff;
}
.carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.modal-body {
  padding: 0;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    object-fit: contain;
    max-height: ~"calc(100vh - 1.75rem)";
  }
}
.carousel {
  width: 100%;
}
.modal-backdrop.in {
  opacity: 0.8;
}
.modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.modal.fade .modal-dialog,
.modal.in .modal-dialog {
  transform: none;
}
.mbr-gallery .item-wrapper {
  cursor: pointer;
}
H6 {
  text-align: center;
}
